body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #032907;
}

.memory-game {
    width: fit-content;
    height: fit-content;
    max-height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(0, 1fr);
    grid-template-rows: repeat(0, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.card {
    width: 100%;
    height: 100%;
    background-color: #4a82c3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s;
}

.card-wrapper {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card span {
    display: none;
}

.card.flipped span {
    display: block;
}

.card.flipped {
    transform: rotateY(180deg);
}

.hidden {
    display: none;
}

.memory-game {
    display: none;
}

.nameHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.game-rules {
    width: 50%;
    line-height: 1.5;
    background-color: #350505;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    font-family: Arial, sans-serif;
    color: #333;

}

.game-rules h1 {
    color: white;

}

.game-rules p {
    color: white;

}

input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    resize: vertical;
}

input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.user-submit-area {
    display: flex;
}


.user-submit-button {
    margin-left: 10px;
    font-family: monospace;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 50px;
    transition: .3s;
}

.user-submit-button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #67a86d;

}


.grid-size {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





.board-size-btn,
.board-size-btn *,
.board-size-btn :after,
.board-size-btn :before,
.board-size-btn:after,
.board-size-btn:before {
    border: 0 solid;
    box-sizing: border-box;
}

.board-size-btn {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
}

.board-size-btn:disabled {
    cursor: default;
}

.board-size-btn:-moz-focusring {
    outline: auto;
}

.board-size-btn svg {
    display: block;
    vertical-align: middle;
}

.board-size-btn [hidden] {
    display: none;
}

.board-size-btn {
    border: 2px solid #fff;
    border-radius: 999px;
    box-sizing: border-box;
    display: block;
    font-weight: 900;
    overflow: hidden;
    padding: 1.1rem 3rem;
    position: relative;
    text-transform: uppercase;
    margin-top: 10px;
    width: 80%;
}

.board-size-btn span {
    mix-blend-mode: difference;
}

.board-size-btn:before {
    background: #fff;
    border-radius: 999px;
    inset: 0;
    position: absolute;
    transition: transform 0.2s;
}

.board-size-btn:hover:before {
    transform: scale(0.7);
}

#durationDisplay {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

#durationDisplay span {
    padding: 0 5px;
}

.score {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    z-index: 9999;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}


table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
}

td,
th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    /* Gray background color for headers */
    font-size: medium;
}