#myDiv {
    height: 300px;
    width: 300px;
    background: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 24px;
  }
  
  span {
    font-size: 18px;
    margin-top: 10px;
    display: block;
    text-align: center;
  }
  