html,
body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #A8A8A8;
  width: 220px;
  height: 275px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.screen {
  background-color: #DDFCFF;
  width: 150px;
  height: 25px;
  font-size: 18px;
  text-align: right;
  border: 2px solid #9B9B9B;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.btn {
  font-size: 20px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
}

.btn:hover {
  background-color: #fe0909;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(1px);
}

.top{
  border: 1px solid  #EEEEEE;
  border-radius: 8px;
  height: 30px;
  background-color: #EEEEEE;
  display: flex;
  padding: 0.25em;
  margin: 0.5em;
}

.ec {
  display: inline-block;
  font-size: 15px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  height: 30px;
  background-color: #FEB191;
  border-color: #EC4802;
  margin-bottom: 10px
}

.btn.num {
  margin-left: 9px;
  margin-bottom: 7px;
  margin-top: 2px;
  height: 35px;
  width: 35px;
  background-color: #CBD6FE;
  color: #000000;
  border-color: #92959E;
  font-weight: bold;
}

.btn.num:hover{
  background-color: #EC4802;
}


.grid-items{
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.operations{
  border: 1px solid  #EEEEEE;
  border-radius: 8px;
  background-color: #EEEEEE;
  height: 173px;
  margin-right: 5px;
}

.operations button{
  border-color: #484848;
  background-color: #02CA00;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 7px;
  margin-top: 2px;
  height: 35px;
  width: 35px;
  font-weight: bold;
}

.main-numbers button:last-child{
  background-color: #02CA00;
  border-color: #484848;
}
.main-numbers{
  border: 0.2px solid  #EEEEEE;
  border-radius: 10%;
  background-color: #EEEEEE;
  width: 150px;
  height: 173px;
  margin-left: 10px;
}

p{
  margin-left: 68px;
  color: #4A4A4A;
  font-size: 10px;
}